.super-mario {
    width: 100px;
    position: absolute;
    top: 100px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 250px;
  }
  
  .baloon {
    position: absolute;
    top: 120px;
    left: 350px;
    z-index: 1;

  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    top: 160px;
    left: 370px;
    z-index: 3;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    top: 250px;
    left: 650px;
    z-index: 2;
  }